.poster{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: relative;
  }
  
  .poster__container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 50px;
  }

.poster__img{
    width: 100%;
    height: 560px;
    
}

.poster__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;  
}

.poster__exposition{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
}

.poster__description{
    max-width: 605px;
    width: 100%;
    margin-top: 20px;
}

.poster__avtor span{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;

}

.poster__title{
    font-size: 51px;
}

.poster__date{
    color: #858584;
}

.poster__subtitle{
    margin-top: 30px;
    color: #858584;
    font-size: 15px;
}

.poster__paragraf{
    margin-top: 20px;
}

.poster__planet{
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
}

.poster__tags{
    margin-top: 20px;
}

.poster__tag{
    background-color: #858584;
    color: black;
    padding: 4px;
    border-radius: 10px;
}



.poster__clock{
    max-width: 295px;
    width: 100%;
    min-height: 237px;
    padding: 30px;
    color: white;

    background: rgba( 27, 25, 25, 0.7 );

    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;

}


.poster__clock h5 {
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

#countdown {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.countdown__title{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.countdown__time{
    font-size: 38px;
}

.countdown__dot{
    margin-top: 10px;
}

.clock__cta{
    display: block;
    margin-top: 20px;
    max-width: 235px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 20px;
}


/* more */

.more{
    width: 100%;
    padding: 0 100px;
}

.more__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

}

.more__title{
    font-size: 38px;
    color: white;

}
.more__cta{
    display: flex;
    border: 2px solid blueviolet;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
}


.more__card{
    max-width: 330px;
    width: 100%;
    min-height: 469px;
    background-color: #3B3B3B;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.more__card:hover {
    transform: scale(1.05);
}
.more__cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
}

.more__img{
    max-width: 100%;
    height: 296px;
}

.more-stat{
    padding: 20px 30px;
}
.more-stat__title{
    font-size: 22px;
}

.more-stat__info{
display: flex;
align-items: center;
gap: 12px;

}

.more-stat__info h6{
    font-size: 16px;
    font-family: 500;
}

.more-stat__avatar{
    width: 24px;
    height: 24px;
    margin-top: 6px;
    
}
.more-stat__avatar img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.more-stat__price{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.more-stat__price h6{
    color: #858584;
    font-size: 12px;
}

.more-stat__price p{
    font-size: 16px;
    margin-top: 5px;
}  